#mapWindow {
    position: relative;
}

#mapPopup {
	visibility: hidden;
	height: 0px;
	overflow: hidden;
}

#map-div {
	position: 'absolute';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-webkit-touch-callout: none;	
}