#mapControls {
    font-family: "Arial", sans-serif;
    font-size: 105%;
    font-weight: bold;
}

#zoomControls a, #directionControls a {
    margin-left: 2px;
    margin-right: 3px;
}

#directionControls {
    margin-left: 5px;
}

#panNorthButton {
    font-size: 100%;
}

#panSouthButton {
    font-size: 100%;
}

#viewControls {
    display: none;
}
