#mapControls {
    font-family: "Arial", sans-serif;
    font-size: 105%;
    font-weight: bold;
}

#mapZoomControls a, #mapDirectionControls a {
    margin-left: 2px;
    margin-right: 3px;
}

#mapDirectionControls {
    margin-left: 5px;
}

#mapPanNorthButton {
    font-size: 100%;
}

#mapPanSouthButton {
    font-size: 100%;
}

#mapViewControls {
    display: none;
}
